@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Kontakt</h2>
<h3>Jesteśmy otwarci na was</h3>

<address>
    Hubert Dąbrowski<br />
    Białystok, ul. wiesjka 3<br />
    Telefon: 123 123 123
    Adres e-mail: agro@inz.pl
</address>

